In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:
kiva = pd.read_csv('kivamix.csv')

In [54]:
kiva.shape

(419156, 35)

Variables of interest:

In [43]:
kiva.shape

(419156, 35)

In [55]:
#Converting long text columns to length of words and count of characters
#Step1 is to drop nulls
kiva = kiva.drop(kiva[(kiva['DESCRIPTION_TRANSLATED'].isnull()==True)].index)
kiva = kiva.drop(kiva[(kiva['TAGS'].isnull()==True)].index)
kiva = kiva.drop(kiva[(kiva['LOAN_USE'].isnull()==True)].index)

In [56]:
#Step 2 is to update new columns
def word_len_count(column):
    word_count = len(column.split())
    return word_count

def char_len_count(column):
    char_count = column.replace(' ','')
    char_count = len(char_count[:])
    return char_count

kiva['word_count_DT'] = kiva['DESCRIPTION_TRANSLATED'].apply(word_len_count)
kiva['word_count_TAGS'] = kiva['TAGS'].apply(word_len_count)
kiva['word_count_LU'] = kiva['LOAN_USE'].apply(word_len_count)

kiva['char_count_DT'] = kiva['DESCRIPTION_TRANSLATED'].apply(char_len_count)
kiva['char_count_TAGS'] = kiva['TAGS'].apply(char_len_count)
kiva['char_count_LU'] = kiva['LOAN_USE'].apply(char_len_count)

In [57]:
kiva.head(2)

,LOAN_ID,LOAN_NAME,ORIGINAL_LANGUAGE,DESCRIPTION,DESCRIPTION_TRANSLATED,FUNDED_AMOUNT,LOAN_AMOUNT,STATUS,IMAGE_ID,VIDEO_ID,...,BORROWER_PICTURED,REPAYMENT_INTERVAL,DISTRIBUTION_MODEL,year,word_count_DT,word_count_TAGS,word_count_LU,char_count_DT,char_count_TAGS,char_count_LU
0,1455352,Raisa Jokasta,Spanish,"En la ciudad de Portoviejo, conocida como la c...",The city of Portoviejo is located in the valle...,1075.0,1075.0,1,2638561.0,NaN,...,true,monthly,field_partner,2018,192,5,4,924,36,26
1,1727469,Lorna,English,"Lorna is a married woman, 39 years old with fi...","Lorna is a married woman, 39 years old with fi...",225.0,400.0,0,3108106.0,NaN,...,true,monthly,field_partner,2019,75,3,12,371,28,69

In [75]:
kiva['month'] = kiva['POSTED_TIME'].str[5:7]

In [76]:
kiva['month'].value_counts()

05    31845
10    31823
07    31126
03    29950
11    29491
09    29348
06    28846
08    28666
04    28101
12    25961
01    25847
02    23584
Name: month, dtype: int64

In [79]:
#Mark whether Image and Video was provided
kiva['IMAGE_ID'] = np.where(kiva['IMAGE_ID'].isnull(), 0, 1)
kiva['VIDEO_ID'] = np.where(kiva['VIDEO_ID'].isnull(), 0, 1)

In [80]:
## Parse out borrower genders & borrower pictured
kiva['FEM_COUNT'] = kiva['BORROWER_GENDERS'].str.count("female")
kiva['MALE_COUNT'] = kiva['BORROWER_GENDERS'].str.count("male")
kiva['PIC_TRUE_COUNT'] = kiva['BORROWER_PICTURED'].str.count("true")
kiva['PIC_FALSE_COUNT'] = kiva['BORROWER_PICTURED'].str.count("false")

In [81]:
kiva['ANY_FEM'] = kiva['BORROWER_GENDERS'].str.contains('female').map({True:1, False:0})
kiva['ANY_MALE'] = kiva['BORROWER_GENDERS'].str.contains('male').map({True:1, False:0})
kiva['month'] = kiva['POSTED_TIME'].str[6:7]

In [82]:
#Drop unrequired columns

kiva.drop(columns = ['DESCRIPTION_TRANSLATED', 'LOAN_USE', 'TAGS', 'DESCRIPTION','LOAN_ID','LOAN_NAME', 'FUNDED_AMOUNT', 'DESCRIPTION', 'TOWN_NAME', 'CURRENCY_EXCHANGE_COVERAGE_RATE', 'CURRENCY', 'PARTNER_ID', 'PLANNED_EXPIRATION_TIME', 'DISBURSE_TIME', 'POSTED_TIME', 'RAISED_TIME', 'NUM_LENDERS_TOTAL', 'NUM_JOURNAL_ENTRIES', 'NUM_BULK_ENTRIES', 'BORROWER_NAMES', 'COUNTRY_NAME', 'CURRENCY_POLICY','year', 'BORROWER_GENDERS', 'BORROWER_PICTURED', 'IMAGE_ID', 'VIDEO_ID'], inplace=True)

In [83]:
kiva.head(2)

,ORIGINAL_LANGUAGE,LOAN_AMOUNT,STATUS,ACTIVITY_NAME,SECTOR_NAME,COUNTRY_CODE,LENDER_TERM,REPAYMENT_INTERVAL,DISTRIBUTION_MODEL,word_count_DT,...,char_count_DT,char_count_TAGS,char_count_LU,month,FEM_COUNT,MALE_COUNT,PIC_TRUE_COUNT,PIC_FALSE_COUNT,ANY_FEM,ANY_MALE
0,Spanish,1075.0,1,Natural Medicines,Health,EC,6.0,monthly,field_partner,192,...,924,36,26,1,1,1,1,0,1,1
1,English,400.0,0,Personal Products Sales,Retail,PH,14.0,monthly,field_partner,75,...,371,28,69,3,1,1,1,0,1,1

In [84]:
kiva.to_csv('kivasmall.csv', index=False)